.headerAccount {
  display: flex;
  align-items: center;
  a {
    font-size: 14px;
    color: #e42b27;
  }
  a:hover {
    border-bottom: solid 1px;
  }
  img {
    padding-left: 10px;
  }
}
.headerIndex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerNav {
  flex: 2;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 16px;
    font-weight: 600;
  }
  a:hover{
      border-bottom: solid 1px;
      opacity: .7;
  }
}
.brandName {
  background: #ffffff;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  h1{
    font-size: 30px;
    font-weight: 500;
    color: #e42b27;
  }
  h1:first-child{
    color: #4F4F4F;
  }
}
.userPanel{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}
.actions {
  font-weight: 600;
  font-size: 20px;
  color: #e42b27;
  position: relative;
  padding-left: 12px;
}
.actions::before{
    position: absolute;
    content: '';
    background: url('../../public/img/header_action_array.svg') no-repeat center;
    width: 7px;
    height: 13px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.actions:hover{
    border-bottom: solid 1px;
}
