// @import '../components/header/header.scss';

$white: #ffffff;
$black: #222222;
$red: #E42B27;
$light_red: #FF413D;
$gray2:#4F4F4F;
$gray4:#BDBDBD;
$gray5:#E0E0E0;
$gray6: #F2F2F2;
$host: #fafafa;
$host2:#F5F5F5;
$hostGradient:linear-gradient(-270deg, $host 0%, $host2 100%);


$mobile:500px;


body {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  // box-sizing:border-box;
}
a {
  text-decoration: none;
}
div{
  box-sizing:border-box;
}
// ========================== Buttons
button{
  border: none;
  padding: 0;
  background: none;
}
.button__close{
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px $gray5;
}
.btn-big{
  height: 54px;
  width: 100%;
  font-size: 16px;
  border-radius: 2px;
}
.btn-big.red{
  background: $red;
  color: $white;
  font-weight: 600;
}
// ---------------- font-size

h1{
  font-size: 50px;
  @media screen and (max-width: $mobile) {
    font-size: 40px;
  }
}

h2{
  font-size: 45px;
}
h5{
  font-size: 25px;
}
h6{
  font-size: 20px;
}
p{
  font-size: 16px;
  line-height: 120%;
}
span{
  font-size: 14px;
}

input{
  border: none;
}
input::placeholder{
  font-family: "Source Sans Pro", sans-serif;
}

// ================== button =================

.LoadMore{
  margin: 0 auto;
  display: block;
  background: $white;
  padding: 12px 22px;
  font-size: 14px;
  font-weight: 300;
  color: $black;
}
.LoadMore.borderRed{
  border: solid 1px $red;
}
.LoadMore:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: $red;
  transition: all .2s;
}
.btn-reset{
  width: 40px;
  height: 40px;
  background: $gray6;
  margin-left: 15px;
  border-radius: 2px;
}
.btn-reset:hover{
  background: $red;
}
.btn-reset.noText{
  svg{
    fill: $red;
    width: 10px;
    height: 10px;
  }
}
.btn-reset.noText:hover{
  svg{
    fill: $white;
  }
}



// ======================= inputs

.form-textBox{
  position: relative;
  input{
    width: 100%;
    height: 56px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 0;
    color: $black;
    border: solid 1px $gray5;
    border-radius: 2px;
    box-sizing:border-box;
    background: $white;
    
  }
  span{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    font-size: 16px;
    pointer-events:none;
    transition: all .1s;
  }
}
.form-textBox.active{
  
  // transition: all .2s;
  input{
    border-bottom: solid 1px $red;
  }
  span{
    top: 14px;
    font-size: 12px;
    color: $gray4;
  }
}
.form-textBox.alert{
  input{
    border-color: $red;
  }
  span{
    color: $red;
    top: 14px;
    font-size: 12px;
  }
  .error-Input{
    padding-top: 5px;
    p{
      color: $red ;
      font-size: 14px;
    }
    
  }
}
// 

header{
  border-bottom: solid 1px $gray5;
  margin-bottom: 30px;
}

.headerAccount {
  display: flex;
  align-items: center;
  a {
    font-size: 14px;
    color: #e42b27;
  }
  a:hover {
    border-bottom: solid 1px;
  }
  img {
    padding-left: 10px;
  }
}
.headerIndex, .head{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerNav{
  flex: 2;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 16px;
    font-weight: 600;
  }
  a:hover{
      border-bottom: solid 1px;
      opacity: .7;
  }
}
.index.header{
  .brandName {
    background: #ffffff;
    h1:first-child{
      color: #4F4F4F;
    }
    h1:last-child{
      color: $red;
    }
  }
}
.brandName {
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $red;
  h1{
    font-size: 30px;
    font-weight: 500;
    color: $white;
  }

}
.userPanel{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}
.actions {
  font-weight: 600;
  font-size: 20px;
  color: #e42b27;
  position: relative;
  padding-left: 12px;
}
.actions::before{
    position: absolute;
    content: '';
    background: url('/img/header_action_array.svg') no-repeat center;
    width: 7px;
    height: 13px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.actions:hover{
    border-bottom: solid 1px;
}


//----------------------- Header-Nav

.index.header{
  .link_wrapper{
    a{
      color: $white;
  }
    a:hover:after{
      background: $white;
    }
  }

  .nav_hamburger{
    span{
      background: $white;
    }
  }
}

.header-nav{
  display: flex;
  flex: 1;
  padding-left: 30px;
  align-items: center;
  // background: silver;
  .nav_hamburger{
    width: 26px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    
    span{
      width: 100%;
      height: 2px;
      display: block;
      background: $red;
      border-radius: 2px;
      transition: .2s;  
      position: absolute;
      left: 0;
    }
    span:nth-child(1){
      top: 0;
    }
    span:nth-child(2), span:nth-child(3){
      top: 11px;
    }
    span:nth-child(4){
      bottom: 0;
    }
  }
  .nav_hamburger:hover{
    span{
      transition: .2s;
      opacity: .5;
    }
    span:nth-child(2), span:nth-child(3){
      opacity: .25;
    }

  }

  .link_wrapper{
    transition: .2s;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    display: flex;
    a{
      white-space:nowrap;
      // padding: 0 10px;
      font-weight: 600;
      position: relative;
      padding: 5px 0;
      margin: 0 10px;
      display: inline-flex;

    }
    a:after{
      position: absolute;
      content: '';
      width: 0;
      transition: .3s;
    }
    a:hover:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      transition: .3s;
    }
  }
  .hidden{
    .link_wrapper{
      width: 0;
      overflow: hidden;
      transition: .2s;
    }

  }

}
.header-nav.active{

  .nav_hamburger{
    margin-left: 10px;
    span{
      transition: .2s;
    }
    span:nth-child(2){
      transform: rotate(-45deg)
      
    }
    span:nth-child(3){
      transform: rotate(45deg)
    }
    span:nth-child(1), span:nth-child(4){
      opacity: 0;
    }
  }
}
.header-nav.active:hover{
  .nav_hamburger{
    span{
      opacity: .5;
  }
    span:nth-child(1), span:nth-child(4){
      opacity: 0;
    }
  }

}

// ================================== IndexSlider =========
// ---------------PreLoader
.indexSliderPreloader{
  width: 100%;
  height: 500px;
  background: $host;
  position: relative;
  top: 0;
}
.indexSliderPreloader::before{
  position: absolute;
  width: 40%;
  height: 100%;
  background: $hostGradient;
  content: '';
  top: 0;
  left: 80%;
  z-index: 10;
  animation-duration: 2s;
  animation-name: preloadMove;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}
@keyframes preloadMove {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}
// =============================================== Slider

.indexSlider{
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 52.16%, #ECECEC 100%);
  
  
  .slideItem_textContent{
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 200px;
    h2{
      font-weight: 600;
      color:$white;
    }
    .slideItem_description{
      margin-top: 30px;
      p{
        font-weight: 600;
        font-size: 20px;
        color: $white;
        margin-bottom: 30px;
      }
      a{

        background: $red;
        padding: 12px 30px;
        color:$white;
        border-radius: 3px;
        font-size: 14px;
      }
      a:hover{
        background: $light_red;
        transition: .3s;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.index-slider{
  width: 63%;
  height: 500px;
  position: relative;
  overflow: hidden;
  .slick-slide{
    position: relative;
  }
  .nav-slider{
    position: absolute;
    left: 30px;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    svg{
      width: 40px;
      height: 36px;
      stroke:$white;
      stroke-width: 2px;
      stroke-linecap: round;
      fill: none;
    }
  }
  .nav-slider:hover{
    opacity: .7;
  }
  .nav-slider_dots{
    position: absolute;
    top: 130px;
    left: 30px;
    z-index: 20;
    height: 247px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li{
      width: 30px;
      cursor: pointer;
    }
    .slick-active{
      span{
        width: 25px;
      }
    }
    span{
      width: 10px;
      height: 2px;
      background: $white;
      display: block;
      margin: 7px 0;
    }
  }

  .PrevArrow{
    top:80px;

  }
  .NextArrow{
    bottom: 80px;
  }
}

// -------------- getUserCity------------------
.getUserCity{
  position: absolute;
  top:208px;
  width: 350px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  // --------------
  .adressSocial{
  li{
    padding: 7px 0;
  }
    li:first-child, li:last-child{
      padding: 0;
    }
  }
  // ----------
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .city-title{
      color:$black;
    }
    .contact_phone{
      display: flex;
      align-items: center;
      h6{
        font-weight: 600;
        color: $red;
        padding-top: 3px;
        border-bottom: solid 1px $white;
        display: inline-flex;
      }
      h6:hover{
        border-color: $red;
      }
      .contact_phone_icon{
        width: 34px;
        height: 34px;
        background: $red;
        border-radius: 2px;
        position: relative;
        margin-right: 8px;
        flex-shrink: 0;
        svg{
          width: 16px;
          height: 16px;
          fill:$white;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .city-name{
      padding-top: 3px;
      cursor: pointer;
      span{
        color: $red;
        font-weight: 600;
        font-size: 20px;
        border-bottom: none;
        
      }
      span:hover{
        border-bottom: solid 1px $red;
      }
    }

  }
}

.social-icon{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
}
.social-icon.gray{
  background: $gray5;
  svg{
    fill: $white;
  }
}
.social-icon.gray:hover{
  background: $gray4;
}

// ================================================== Find Tours ====================================
.wiget_findTour {
  position: relative;
  top: 260px;
  z-index: 5;
  display: flex;
  height: 160px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  margin-bottom: 287px;
  .wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 30px 0 30px;
    .findTour_filtrs{
      height: 50%;
      display: flex;
      align-items: center;

      h4{
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color:$red;
        margin-right: 50px;
      }
      .tagsList{
        display: flex;
        flex-wrap: wrap;
        .tagItem{
          margin-right: 15px;
          cursor: pointer;
          padding: 10px 20px;
          border: solid 1px $gray4;
          border-radius: 30px;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
        }
        .active{
          background: $red;
          border-color: $red;
          color: $white;
        }
        :last-child{
          margin-right: 0;
        }
      }

      display: flex;
      .filtrs-list{
        display: flex;
    }
  }
  }

  .findTour_inputs{
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;
    height: 50%;
    align-items: center;
  }

  .input {
    height: 32px;
    display: flex;
    flex: 0 0 1;
    align-items: center;
    justify-content: space-between;
    background: $white;
    border-bottom: solid 2px $gray5;
    span{
      font-size: 16px;
      font-weight: 600;
      margin-top: -2px;
      margin-left: 15px;
      cursor: pointer;
    }
    input{
      padding: 0 15px;
      width: calc(100% - 30px);
    }
    input::placeholder{
      font-size: 16px;
      font-weight: 600;
      color:$black
    }
    .input_icon {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        stroke: $red;
        stroke-width: 2px;
      }
    }
  }

  .input.selected{
    border-bottom: solid 2px $red;
  }
  .input-wrapper:first-child{
    margin-left: 0;
  }
  .input-wrapper {
    position: relative;
    flex: 1;
    margin: 0 3px;


    .list-dropDown{
      position: absolute;
      overflow-y: scroll;
      height: 120px;
      width: 100%;
      background: $white;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      :hover{
        background: $gray6;
        cursor: pointer;
      }
      .dropDown-item{
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400;
        color: $gray2;
      }
      .dropDown-item.selected{
        color:red;
      }
    }


  }

  .list-dropDown.no-scroll{
    overflow: hidden;
  }

  .calendar{
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
    position: absolute;
    cursor: pointer;
    user-select: none;
    background: $white;
    .calendar_title{
      text-align: center;
    }
    .calendar_nav{
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -15px;
      .calendar_nav_prev, .calendar_nav_next{
        width: 40px;
        height: 20px;
        svg{
          fill:$red;
          width: 100%;
        }
        // background: red;
      }
      .calendar_nav_prev.stop{
        svg{
          fill: $gray5;
        }
      }
    }
    .calendar_week{
      display: flex;
      justify-content: space-between;
      span{
        width: calc(100% / 7);
        height: 30px;
        font-size: 12px;
        color: $gray2;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .calendar_content{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      :hover{
        background: $gray6;
      }
      span{
        width: calc(100% / 7);
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .day{
        color: $gray2;
      }
      .day.gray{
        color: $gray5;
      }
    }
  }
  .wiget_findTout_submit{
    width: 160px;
    height: 100%;
    border-radius: 0px 2px 2px 0px;
    background: $red;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    span{
      font-size: 14px;
      color: $white;
      margin-top: 4px;
    }
  }
  .select-tourist{
    position: absolute;
    width: calc(100% - 30px);
    padding: 15px;
    background: $white;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
    cursor: pointer;
    -webkit-user-select: none;
  }
  .tourist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .tourist_title{
      flex: 1;
    }
    .tourist_button{
      width: 24px;
      height: 24px;
      border-radius: 2px;
      border: solid 1px $gray5;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $red;

    }
    .tourist_number{
      width: 30px;
      align-items: center;
      text-align: center;
    }
    .tourist_button:hover{
      background: $gray6;
    }

  }
  .tourist:last-child{
    margin-bottom: 0;
  }
}
.col-lg-3{
  background: silver;
}

.tour-list{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .card-wrapper {
    flex: 0 0 auto;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 329px;
  }

  .tour-card{
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: $white;
    .img_wrapper{
      height: 120px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 100%;
        transition: 1s;
      }
    }
    .card-description{  // ------------------------------------------
      padding: 10px 15px 15px 15px;
      padding-bottom: 13px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      height: 150px;
      .tagsIcon{
        display: flex;
        align-items: center;
        .icon-hot{
          background: $red;
          width: 15px;
          height: 15px;
          position: relative;
          margin-right: 5px;
          border-radius: 1px;
          svg{
            position: absolute;
            width: 7px;
            height: 9px;
            fill: $white;
            left: 4px;
            top: 3px;

          }
        }
        span{
          color: $red;
          font-size: 12px;
          line-height: 100%;
          margin: 0;
          font-weight: 400;
        }
      }

      h5{
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: $gray2;
        // margin-bottom: 16px;      
      }
      span{
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        color: $gray2;
        display: block;
        margin: 5px 0;
      }
      .card-description__down{
        // margin-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          color: $red;
        }
        .liked{
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            fill: $gray5;
          }
        }
        .liked.active{
          svg{
            fill:$red;
          }
        }

      }
    }
  }
  .tour-card:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    img{
      transform: scale(1.2, 1.2);
    }
    .hotIcon{
      svg{
        transform: 
        scale(1.2, 1.2)
        rotate(-45deg);
      }
    }
  }
}
// =============================================== Rezult search ========================================
.rezult-select{
  border: solid 1px $gray6;
  padding: 15px;
  margin-bottom: 30px;
  p{
    margin-right: 15px;
    font-size: 16px;
    font-weight: 400;
    color: $gray2;
    border-right: solid 1px $gray5;
    padding-right: 16px;
  }
  p:last-child{
    margin-right: 0;
    border-right: none;
  }
  h6{
    font-size: 16px;
    font-weight: 600;
    color: $red;
    margin-right: 16px;
  }
  span{
    margin-left: 5px;
    color: $gray2;
    font-weight: 400;
  }
  .rezult-select-filters{
    display: flex;
    align-items: center;
    
  }
  .rezult-select-tags{
    display: flex;
    margin-top: 15px;
    border-top: dashed 1px $gray6;
    padding-top: 15px;
  }

}
// ================= Rezult Loader ==============

  .hostCard{
    border-radius: 2px;
    .hostImg{
      background: $host;
      width: 100%;
      height: 150px;
      position: relative;
      overflow: hidden;
    }
    .hostImg::after{
      content: '';
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      background: $hostGradient;
      animation-name: host;
      animation-timing-function:linear;
      animation-iteration-count: infinite;
      animation-duration: 2s;
    }
    .hostDescription{
      height: 150px;
      width: 100%;
      padding: 17px;
      padding-bottom: 34px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 1 100%;
      .hostText{
        height: 15px;
        background: #F5F5F5;
        width: 100%;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
      }
      .hostText::after{
        content: '';
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(-270deg, #F5F5F5 0%, #EEEEEE 100%);
        animation-name: hostText;
        animation-timing-function:linear;
        animation-iteration-count: infinite;
        animation-duration: 2s;
      }
      
    }
  }
  @keyframes host{
    from{
      left: -50%;
    }
    to{
      left: 150%;
    }
  }
  @keyframes hostText{
    from{
      left: -56%;
    }
    to{
      left: 168%;
    }
  }
// ================================== SliderRow ===================================

// --------------- Loader
.LoaderRow{
  padding: 30px 0;
  margin-left: -15px;
  margin-right: -15px;
  .list_host{
    width: 100%;
    display: flex;
    .host_item{
      padding: 0 15px;
      width: 50%;
      .host_item__wrapper{
        width: 100%;
        height: 140px;
        display: flex;
        border: solid 1px $gray6;
        border-radius: 2px;
        overflow: hidden;
        .host_img{
          width: 217px;
          height: 100%;
          background: $host;
          position: relative;
        }
        
        .host_body{
          flex-grow: 1;
          padding: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .host_line{
            height: 15px;
            background: $host;
            width: 50%;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
          }
          .host_line::before{
            animation-name: hostText;
            animation-timing-function:linear;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            content: '';
            position: absolute;
            background: $hostGradient;
            top: 0;
            width: 50%;
            height: 100%;
          }
          @keyframes hostText{
            from{
              left: -100%;
            }
            to{
              left: 50%;
            }
          }
        }
      }
    }
  }
}

.SliderRow{
  padding-bottom: 30px;
}
.section-title{
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: solid 1px $gray5;
  color: $gray2;
  position: relative;
  padding-left: 45px;
  
}

.section-title:before{
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background: $red;
    border-radius: 1px;
  }
.slideShowRow{
  padding: 30px 0;
  margin: 0 -15px;
  .slick-list::before, .slick-list::after{
    content: '';
    width: 15px;
    height: 100%;
    background: $white;
    position: absolute;
    z-index: 10;
    top: 0;
  }
  .slick-list::before{
    left: 0;

  }
  .slick-list::after{
    right: 0;
    
  }

   
  .PrevArrow, .NextArrow{
    position: absolute;
    width: 35px;
    height: 35px;
    background: $white;
    top: 50%;
    transform: translate(0,-50%);
    border: solid 1px $gray5;
    border-radius: 2px;
    z-index: 11;
    svg{
      stroke: $gray4;
      stroke-width: 3;
      fill: none;
      width: 10px;
      height: 14px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .PrevArrow:hover, .NextArrow:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  
    svg{
      stroke: $red;
    }
  }
  .NextArrow{
    left: -40px;
    svg{
      left: 10px;
    }
  }
  .PrevArrow{
    right: -40px;
    svg{
      right: 10px;
      
    }
  } 
  .sliderRow-item_wrapper{
    padding: 0 15px;
      a{
        color: $black;
        font-size: 20px;
        font-weight: 500;
      }
      a:hover{
        border-bottom: solid 1px $red;
        color: $red;
      }
      p{
        font-size: 16px;
        padding-top: 5px;
        font-weight: 600;
        color: $red;
      }
      span{
        font-size: 16px;
        color: $gray2;
      }
  
    .sliderRow-item{
      display: flex !important;
      border: solid 1px $gray5;
      overflow: hidden;
      border-radius: 2px;
      
      .sliderRow-item_img{
        height: 140px;
        width: 350px;
        position: relative;
        overflow: hidden;
        img{
          object-fit: cover;
          max-height: 100%;
        }
      }
      .sliderRow-item_description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        flex-grow: 1;
        h6{
          color: $gray2;
        }
      }
    }

  }
  .slick-dots{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    li{
      padding: 0 15px;
      cursor: pointer;
    }
    span{
      background: $gray4;
      display: block;
      height: 2px;
      width: 30px;
      
    }
    .slick-active span{
      background: $red;
    }
  }
}
// ================================= PopularOffers ======================

// Loader -------------

.sliderOffers__Loader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  padding-bottom: 60px;
  .Loader-item{
    width: 190px;
    height: 190px;
    background: $white;
  }
}
// ---------------
.popularOffers{
  background: $gray6;
  padding-top: 30px;
  padding-bottom: 60px;
}
.sliderOffers{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
  .offerItem{
    padding: 30px 15px;
    h3{
      font-size: 20px;
      line-height: 120%;
      text-align: center;
      padding:20px 15px 0 15px;
      font-weight: 400;
    }
    .offerItem_card{
      background: $white;
      border-radius: 2px;
      height: 190px;
      position: relative;
        .offerItem_card-imgWrapper{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background: $white;
        }
            
    }
    .offerItem_card::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      background: $red;
      bottom: 0;
    }
    
  }
  .offerItem:hover{
    .offerItem_card{
      cursor: pointer;
      transition: all .3s;
      transform: scale(1.05, 1.05);
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    }
  }
  .offerItem.active {
    h3{
      color: $red;
    }
    .offerItem_card{
      cursor: pointer;
      transition: all .3s;
      transform: scale(1.05, 1.05);
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    }
    .offerItem_card::after{
      height: 2%;
      transition: all .1s;
    }
  }

  .PrevArrow, .NextArrow{
    position: absolute;
    top: 92px;
    width: 35px;
    height: 35px;
    z-index: 11;
    background: $white;
    border-radius: 2px;
    svg{
      stroke: $gray4;
      stroke-width: 3;
      fill: none;
      width: 10px;
      height: 14px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .NextArrow{
    left: -40px;
    svg{
      left: 11px;
    }
  }
  .PrevArrow{
    right: -40px;
    svg{
      right: 11px;
    }
  }
  .NextArrow:hover, .PrevArrow:hover{
    cursor: pointer;
    svg{
      stroke: $red;
    }
  } 
}

// ======================= CalendarOfEvents ================
.multiple-Title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px $gray5;
  .section-title{
    border-bottom: none;
  }
}
.CalendarOfEvents{
  padding-top: 30px;
  padding-bottom: 60px;
}

// =========================== Authorization ====================================

.Authorization{
  width: 100%;
  h1{
    margin: 30px 0;
    @media screen and (max-width: $mobile) {
      margin: 15px 0;
    }
  }
  .formAuth{
    padding-right: 200px ;
    padding-top: 15px;
    padding-bottom: 15px;
    @media screen and (max-width: $mobile) {
      padding-right: 0;
    }
    .form-textBox{
      margin-bottom: 15px;

    }
    p{
      color: $gray2;
      font-size: 15px;
    }
    button{
      margin-top: 30px;
    }
    .formAuth_loginFalse{
      border: solid 1px $red;
      margin-bottom: 15px;
      padding: 15px 20px;
      border-radius: 2px;
      p{
        font-size: 14px;
        color: $red;
      }

    }
  }
  .signin-forgotpassword{
    padding-top: 15px;
    padding-bottom: 60px;
    @media screen and (max-width: $mobile) {
      padding-bottom: 30px;
      padding-top: 0;
    }
    a{
      display: block;
      color: $red;
      span{
        font-size: 16px;
        border-bottom: solid 1px $red;
      }
    }
    a:not(:last-child){
      margin-bottom: 15px
    }
  }
  .authorization-support{
    border-top: solid 1px $gray6;
    border-bottom: solid 1px $gray6;
    padding-top: 25px;
    padding-bottom: 30px;
    color:$gray2;
    @media screen and (max-width: $mobile) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    h6{
      @media screen and (max-width: $mobile) {
        font-size: 18px;
        // text-align: center;
      }
    }

    a{
      color:$red;
      font-size:24px;
      margin-left: 5px;
      line-height: 100%;
      @media screen and (max-width: $mobile) {
        white-space:nowrap;
        line-height: 120%;
        display: block;
        margin-top: 3px;
      }
      // border-bottom: solid 1px $red;
    }
  }
}

// ================================= titleFilter ====================================
.multiple-title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .section-title{
    width: 100%;
    margin-right: 40px;
    flex: 1;
  }
}
.titleFilter{
  position: relative;
  .titleFilter_head{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: solid 1px $gray5;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background: $white;
    cursor: pointer;
      .titleFilter_head__filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        flex: 1;
        width: 250px;
        span{
          font-size: 16px;
          font-weight: 600;
        }
        .titleFilter_head__icon{
          position: relative;
          height: 100%;
          width: 40px;
          height: 40px;
            
          svg{
            stroke-width: 2px;
            stroke: $red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    .reset-filter{
      width: 40px;
      height: 40px;
      background: $gray5;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        fill:$red;
        width: 8px;
        height: 8px;
      }
    }
    .reset-filter:hover{
      background: $red;
      svg{
        fill: $white;
      }
    }
  }
  .titleFilter_dropDown{
    overflow: hidden;
    position: absolute;
    background: $white;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 9;
    .titleFilter_dropDown__list{
      border: none;
      height: 0;
      .dropDown__item{
        height: 40px;
        width: 100%;
        cursor: pointer;
        border-bottom: solid 1px $gray6;
        padding: 0 15px;
        display: flex;
        align-items: center;
      }
      .dropDown__item:hover{
        background: $gray6;
      }
    }
  }
}
.titleFilter.active{
  transition: all .3s;
  .titleFilter_head{
    border-bottom: solid 1px $red;
    .titleFilter_head__icon{
      svg{
        transform:
        translate(-50%, -50%)
        rotate(180deg)
        ;
      }
    }
  }
  .titleFilter_dropDown{
    .titleFilter_dropDown__list{
      height: 120px;
      overflow-y: auto;
      border: solid 1px $gray5;
    }
  }
}

// ======================================== CalendarEvents List
.listEvents{
  padding-top: 30px;

}
.ItemEvent:hover{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  .ItemEvent-preview{
    img{
      transition: 1s;
      transform: scale(1.1, 1.1);
    }
  }
}
.ItemEvent{
  border: solid 1px $gray5;
  margin-bottom: 30px;
  .ItemEvent-preview{
    width: 100%;
    // height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img{
      width: 100%;
      object-fit:cover;
      transition: 1s;
    }
  }
  .ItemEvent-content{
    padding: 15px;
    padding-bottom: 20px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      .content-up{
        span{
          color: $red;
        }
        h6{
          color: $black;
          margin-top: 15px;
        }
      }
      .content-down{
        color: $gray4;
        .positionEvent{
          margin-top: 10px;
          display: flex;
          align-items: center;
          svg{
            fill: $gray4;
            width: 12px;
            height: 17px;
            margin-right: 7px;
          }
        }
      }
  }
}
