// @import '../components/header/header.scss';

$white: #ffffff;
$red: #E42B27;
$gray2:#4F4F4F;
$gray4:#BDBDBD;
$gray5:#E0E0E0;
$gray6: #F2F2F2;

body {
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
}

button{
  border: none;
  padding: 0;
  background: none;
}


input{
  border: none;
}
input::placeholder{
  font-family: "Source Sans Pro", sans-serif;
}

//----------------------- Header-Nav
.header-nav{
  display: flex;
  flex: 1;
  padding-left: 30px;
  align-items: center;
  // background: silver;
  .nav_hamburger{
    width: 26px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    
    span{
      width: 100%;
      height: 2px;
      display: block;
      background: red;
      border-radius: 2px;
      transition: .2s;  
      position: absolute;
      left: 0;
    }
    span:nth-child(1){
      top: 0;
    }
    span:nth-child(2), span:nth-child(3){
      top: 11px;
    }
    span:nth-child(4){
      bottom: 0;
    }
  }
  .nav_hamburger:hover{
    span{
      transition: .2s;
      opacity: .5;
    }
    span:nth-child(2), span:nth-child(3){
      opacity: .25;
    }

  }

  .link_wrapper{
    transition: .2s;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    a{
      white-space:nowrap;
      padding: 0 10px;
      font-weight: 600;

    }
  }
  .hidden{
    .link_wrapper{
      width: 0;
      overflow: hidden;
      transition: .2s;
    }

  }

}
.header-nav.active{

  .nav_hamburger{
    margin-left: 10px;
    span{
      transition: .2s;
    }
    span:nth-child(2){
      transform: rotate(-45deg)
      
    }
    span:nth-child(3){
      transform: rotate(45deg)
    }
    span:nth-child(1), span:nth-child(4){
      opacity: 0;
    }
  }
}
.header-nav.active:hover{
  .nav_hamburger{
    span{
      opacity: .5;
  }
    span:nth-child(1), span:nth-child(4){
      opacity: 0;
    }
  }

}




.wiget_findTour {
  display: flex;
  height: 160px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
  background: $white;
  .wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 30px 0 30px;
    .findTour_filtrs{
      height: 50%;
      display: flex;
      align-items: center;

      h4{
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color:$red;
        margin-right: 50px;
      }
      .filtrs-list{
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        .filtrs-list_item{
          margin-right: 15px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          border: solid 1px $gray5;
          border-radius: 20px;
        }
        :last-child{
          margin-right: 0;
        }
      }

      display: flex;
      .filtrs-list{
        display: flex;
    }
  }
  }

  .findTour_inputs{
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;
    height: 50%;
    align-items: center;
    // width: 100%;
  }

  .input {
    height: 32px;
    display: flex;
    flex: 0 0 1;
    align-items: center;
    justify-content: space-between;
    background: $white;
    border-bottom: solid 2px $gray5;
    span{
      font-size: 16px;
      font-weight: 600;
      margin-top: -2px;
      margin-left: 15px;
      cursor: pointer;
    }
    input{
      padding: 0 15px;
      width: calc(100% - 30px);
    }
    input::placeholder{
      font-size: 16px;
      font-weight: 600;
    }
    .input_icon {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        stroke: $red;
        stroke-width: 2px;
      }
    }
  }
  .input.selected{
    border-bottom: solid 2px $red;
  }
  .input-wrapper:first-child{
    margin-left: 0;
  }
  .input-wrapper {
    position: relative;
    flex: 1;
    margin: 0 3px;

    .list-dropDown{
      position: absolute;
      overflow-y: scroll;
      height: 120px;
      width: 100%;
      background: $white;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      :hover{
        background: $gray6;
        cursor: pointer;
      }
      .dropDown-item{
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400;
        color: $gray2;
      }
      .dropDown-item.selected{
        color:red;
      }
    }


  }
  .list-dropDown.no-scroll{
    overflow: hidden;
  }

  .calendar{
    padding: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
    position: absolute;
    cursor: pointer;
    user-select: none;
    background: $white;
    .calendar_title{
      text-align: center;
    }
    .calendar_nav{
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -15px;
      .calendar_nav_prev, .calendar_nav_next{
        width: 40px;
        height: 20px;
        svg{
          fill:$red;
          width: 100%;
        }
        // background: red;
      }
      .calendar_nav_prev.stop{
        svg{
          fill: $gray5;
        }
      }
    }
    .calendar_week{
      display: flex;
      justify-content: space-between;
      span{
        width: calc(100% / 7);
        height: 30px;
        font-size: 12px;
        color: $gray2;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .calendar_content{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      :hover{
        background: $gray6;
      }
      span{
        width: calc(100% / 7);
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .day{
        color: $gray2;
      }
      .day.gray{
        color: $gray5;
      }
    }
  }
  .wiget_findTout_submit{
    width: 160px;
    height: 100%;
    border-radius: 0px 2px 2px 0px;
    background: $red;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    span{
      font-size: 14px;
      color: $white;
      margin-top: 4px;
    }
  }
  .select-tourist{
    position: absolute;
    width: calc(100% - 30px);
    padding: 15px;
    background: $white;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
    cursor: pointer;
    -webkit-user-select: none;
  }
  .tourist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .tourist_title{
      flex: 1;
    }
    .tourist_button{
      width: 24px;
      height: 24px;
      border-radius: 2px;
      border: solid 1px $gray5;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $red;

    }
    .tourist_number{
      width: 30px;
      align-items: center;
      text-align: center;
    }
    .tourist_button:hover{
      background: $gray6;
    }

  }
  .tourist:last-child{
    margin-bottom: 0;
  }
}
.col-lg-3{
  background: silver;
}

.tour-list{
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);

  .card-wrapper{
    flex: 0 0 auto;
    width: calc((100% / 3) - 30px);
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .tour-card{
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    // margin-bottom: 30px;
    .img_wrapper{
      height: 150px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 100%;
        transition: 1s;
      }
    }
    .card-description{
      padding: 15px;
      padding-bottom: 13px;
      h5{
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: $gray2;
        margin-bottom: 16px;      
      }
      span{
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        color: $gray2;
        display: block;
        margin: 5px 0;
      }
      .card-description__down{
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          color: $red;
        }
        .liked{
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            fill: $gray5;
          }
        }
        .liked.active{
          svg{
            fill:$red;
          }
        }

      }
    }
  }
  .tour-card:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    img{
      transform: scale(1.2, 1.2);
    }
  }
}
// Rezult search
.rezult-select{
  display: flex;
  padding: 15px;
  margin-bottom: 30px;
  align-items: center;
  border: solid 1px $gray6;
  p{
    margin-right: 15px;
    font-size: 16px;
    font-weight: 400;
    color: $gray2;
    border-right: solid 1px $gray5;
    padding-right: 16px;
  }
  p:last-child{
    margin-right: 0;
    border-right: none;
  }
  h6{
    font-size: 16px;
    font-weight: 600;
    color: $red;
    margin-right: 16px;
  }
  span{
    margin-left: 5px;
    color: $gray2;
    font-weight: 400;
  }
}
